# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Log files
*.log

# Cache files
*.cache/
*.egg-info/

# System files
.DS_Store
Thumbs.db

# Large files
awscliv2.zip

# Environment variables / secrets
.env
*.keygit rm --cached secrets.env
*.pem
*.json
